<div id="gif-<%= gif.id %>" class="gif">
  <div class="gif-inner">
    <div class="gif-preview">
      <img src="<%= gif.file.url(:preview) %>" width="<%= gif.width %>" height="<%= gif.height %>" data-url="<%= gif.file.url %>" />
    </div>
    <% if user_signed_in? %>
      <div class="gif-actions"><%= link_to 'Download to Dropbox', gif_download_path(gif), :remote => true, :method => :post %></div>
    <% end %>
  </div>
</div>
