<!DOCTYPE html>
<html>
<head>
  <title>Giftoppr</title>
  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/script_loader' %>
</head>
<body>
  <header>
    <div id="header-inner">
      <div id="logo">
        <%= image_tag "logo.png", :width => 253, :height => 55 %>
      </div>
      <a href="https://www.desktoppr.co" id="by-desktoppr">
        <%= image_tag "by.png", :width => 158, :height => 38 %>
      </a>
      <ul>
        <% if user_signed_in? %>
          <li>Hi <%= current_user.name %>!</li>
          <li><%= link_to "Logout", auth_logout_path %></li>
        <% else %>
          <li><%= link_to "Signin with Dropbox", auth_path(:dropbox), :id => 'sign-in-link' %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <div id="container">
    <%= yield %>
  </div>
  <script>
    $script("<%= javascript_path "application" %>");
    $script("//ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js", function() {
      WebFont.load({ google: { families: [ 'Raleway' ] } });
      document.getElementById('sign-in-link').style.visibility="visible";
    });
  </script>
</body>
</html>
