<!DOCTYPE html>
<html>
<head>
  <title>Giftoppr</title>
  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/script_loader' %>
  <a href="https://github.com/desktoppr/giftoppr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</head>
<body>
  <div id="container">
    <header>
      <div id="header-inner">
        <a href="/" id="logo">
          <%= image_tag "logo.png", :width => 253, :height => 55 %>
        </a>
        <a href="https://www.desktoppr.co" id="by-desktoppr">
          <%= image_tag "by.png", :width => 158, :height => 38 %>
        </a>
        <ul>
          <% if user_signed_in? %>
            <li>Hi <%= current_user.name %>!</li>
            <li><%= link_to "Logout", auth_logout_path %></li>
          <% else %>
            <li><%= link_to "Signin with Dropbox", auth_path(:dropbox) %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </div>
  <script>
    head.js("<%= javascript_path "vendor" %>", "<%= javascript_path "application" %>");
  </script>
</body>
</html>
