<!DOCTYPE html>
<html>
<head>
  <title>Giftoppr</title>
  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/script_loader' %>
  <a href="https://github.com/desktoppr/giftoppr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <%= auto_discovery_link_tag(:atom, root_url(format: "atom")) %>
</head>
<body>
  <div id="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
  <script>
    head.js("<%= javascript_path "vendor" %>", "<%= javascript_path "application" %>");
  </script>
</body>
</html>
