<!DOCTYPE html>
<html>
<head>
  <title>Giftoppr</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.load.min.js"></script>
</head>
<body>
  <header>
    <div id="header-inner">
      <div id="logo">
        <%= image_tag "logo.png", :width => 253, :height => 55 %>
      </div>
      <a href="https://www.desktoppr.co" id="by-desktoppr">
        <%= image_tag "by.png", :width => 158, :height => 38 %>
      </a>
      <ul>
        <% if user_signed_in? %>
          <li>Hi <%= current_user.name %>!</li>
          <li><%= link_to "Logout", auth_logout_path %></li>
        <% else %>
          <li><%= link_to "Signin with Dropbox", auth_path(:dropbox) %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <div id="container">
    <%= yield %>
  </div>
  <script>head.js("<%= javascript_path "application" %>");</script>
</body>
</html>
